#topOfFooter
footer#footer

   h1 Simple Page
   ul
     li Lorem, ipsum dolor.
     li Quis, doloribus voluptatibus.
     li Magnam, doloribus illum.
     li Consequuntur, nihil quaerat?
     li Numquam, quod harum!
     li A, cumque mollitia?
     li Aspernatur, dicta esse.
     li Officia, blanditiis esse.
     li Temporibus, nemo cumque.
     li Autem, consequatur quisquam.
     li Lorem, ipsum dolor.
     li Quis, doloribus voluptatibus.
     li Magnam, doloribus illum.
     li Consequuntur, nihil quaerat?
     li Numquam, quod harum!

     li Lorem, ipsum dolor.
     li Quis, doloribus voluptatibus.
     li Magnam, doloribus illum.
     li Consequuntur, nihil quaerat?
     li Numquam, quod harum!
     li A, cumque mollitia?
     li Aspernatur, dicta esse.
     li Officia, blanditiis esse.
     li Temporibus, nemo cumque.
     li Autem, consequatur quisquam.
     li Lorem, ipsum dolor.
     li Quis, doloribus voluptatibus.
     li Magnam, doloribus illum.
     li Consequuntur, nihil quaerat?
     li Numquam, quod harum!

   | Copyright &copy; 2018

#transparentFooter
