doctype html
html
  head
    title Ooops!
    link(rel="Stylesheet" type="text/css" href="/public/css/style.css")
  body

    include ./includes/header
    include ./includes/navbar


    section#errorContent.clearfix
      block content


    include ./includes/footer
