extends ./main-layout

include ./includes/mixins-main


block sidebarLeft
  h2 Left sidebar
  +tagsBox(tags)

block sidebarRight
  h2 Right sidebar
  +authorsBox(authors)

block content
  ul
      for article in articles
        +articleHead(article)
      else
        li No articles

  .pager
    span #{articles.number} / #{articles.totalPages} pages,
    span size: #{articles['size'] +'.. '}
    span total elements: #{articles.totalElements}

  .pager
    +pagerBox(articles)

  .pager
    +pageSizeBox(articles, ' articles per page')