doctype html
html
  head
    title #{title}
    link(rel="Stylesheet" type="text/css" href="/public/css/style.css")
  body

  include ./includes/header


  block date

  block content


include ./includes/footer