doctype html
html
  head
    title #{title}
    link(rel="Stylesheet" type="text/css" href="/public/css/style.css")
  body

    include ./includes/header
    include ./includes/navbar

    block date

    section.sidebar.clearfix
      block sidebarLeft

    section#content.clearfix
      block content

    section.sidebar.clearfix
      block sidebarRight

    include ./includes/footer