doctype html
html
  head
    title Ooops!
    link(rel="Stylesheet" type="text/css" href="/public/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Kanit:400,600,800&amp;subset=latin-ext" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    div#mainContainer
      section#errorContent
        block content

