doctype html
html
  head
    title #{title}
    link(rel="Stylesheet" type="text/css" href="/public/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Kanit:400,600,800&amp;subset=latin-ext" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    include ./includes/header
    include ./includes/navbar

    div#mainContainer

      section#content
        block content

      section.sidebar1
        block sidebarLeft

      section.sidebar2
        block sidebarRight

    include ./includes/footer

    script(type="text/javascript" src="/public/js/main.js")